@import "../../theme/variables.scss";
.healthHistory{
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    .tabs{
        display: flex;
        justify-content: space-around;
        padding: 5px 10px;
        // width: 100%;
        background-color: $primary-color;
        transition: transform 0.3s ease, background-color 0.3s ease;
        &:hover {
            transform: scale(1.05);
          }
         
        .selected{
            background-color: $white-color;
            border-radius: 15px;
            padding: 3px 10px;
            color: $primary-color;
            font-weight: 500;
            display: flex;
            align-items: center;
            font-size: 10px;
            animation: tabSelect 0.3s ease-in-out;
            img{
                height: 15px;
                width: 15px;
                margin-right: 10px;
            }
        }
    }
    box-shadow: 2px 2px 5px grey;
}
@keyframes tabSelect {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }